extends ../layouts/default

block content
	link(rel="stylesheet" type="text/css" href="styles/vendor/style3.css")
	ul.cb-slideshow
		li
			span Image 01
			div
				h3 re·lax·a·tion
		li
			span Image 02
			div
				h3 qui·e·tude
		li
			span Image 03
			div
				h3 bal·ance
		li
			span Image 04
			div
				h3 e·qua·nim·i·ty
		li
			span Image 05
			div
				h3 com·po·sure
		li
			span Image 06
			div
				h3 se·ren·i·ty
	script.
		$('ul li span').on('click', function() {
			location.href='/gallery'
		})
