*:focus {
	outline: none;
}
.home #footer {
	visibility: hidden;
}


// Simplex 3.3.5
// Bootswatch
// -----------------------------------------------------

@web-font-path: "https://fonts.googleapis.com/css?family=Open+Sans:400,700";

.web-font(@path) {
  @import url("@{path}");
}
.web-font(@web-font-path);

.btn-shadow(@color) {
  #gradient > .vertical-three-colors(lighten(@color, 3%), @color, 6%, darken(@color, 3%));
  filter: none;
  border: 1px solid darken(@color, 10%);
}

// Style =====================================================================
ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    -webkit-transition: color .35s;
    transition: color .35s;
}
a:active, a:hover, a:focus {
    text-decoration: none;
}
// Header =====================================================================

#header {
  border-top: 2px solid #968783;
  position: relative;
}

// Navbar =====================================================================
.navbar {

  &-inverse {

    .badge {
      background-color: #fff;
      color: @brand-primary;
    }
  }
}

/* Navbar White Search Form*/
#header-search-form {
    padding: 0 15px;
    position: relative;
    border-bottom: 1px solid transparent;
    overflow: hidden;
}

#header-search-form.navbar-white {
	background-color: #fff;
	border-bottom-color: #eaeaea;
}

.navbar-white .form-control,
.navbar-white button[type="submit"],
.navbar-white input[type="submit"]
#header-search-form.navbar-white .form-control,
#header-search-form.navbar-white button[type="submit"],
#header-search-form.navbar-white input[type="submit"] {
	color:#505050;
}

#header-search-form.navbar-white .form-control::-moz-placeholder {
	color:#505050;
}

#header-search-form.navbar-white .form-control:-ms-input-placeholder {
	color:#505050;
}

#header-search-form.navbar-white .form-control::-webkit-input-placeholder {
	color:#505050;
}

#header-search-form.navbar-white .form-control::placeholder {
	color:#505050;
}

.navbar-white #header-search-form button[type="submit"]:hover,
.navbar-white #header-search-form input[type="submit"]:hover,
.navbar-white #header-search-form button[type="submit"]:focus,
.navbar-white #header-search-form input[type="submit"]:focus,
#header-search-form.navbar-white button[type="submit"]:hover,
#header-search-form.navbar-white input[type="submit"]:hover,
#header-search-form.navbar-white button[type="submit"]:focus,
#header-search-form.navbar-white input[type="submit"]:focus {
	background-color: #eaeaea;
}

.navbar-white.side-menu #header-search-form .form-control {
	border-bottom-color: #eaeaea;
}

.navbar-white .navbar-collapse,
.navbar-white .navbar-form {
	border-color: #eaeaea;
}

.navbar-form {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

#header-search-form .form-control {
    width: 100%;
    display: block;
    background-color: transparent;
    border: none;
    height: auto;
    padding: 12px 0 12px 40px;
    font: 500 16px/1.5 'Raleway', Verdana;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-align: right;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-white .form-control, .navbar-white button[type="submit"], .navbar-white input[type="submit"] #header-search-form.navbar-white .form-control, #header-search-form.navbar-white button[type="submit"], #header-search-form.navbar-white input[type="submit"] {
    color: #505050;
}

#header-search-form button[type="submit"], #header-search-form input[type="submit"] {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 14px;
    padding: 0;
    margin: 0;
    display: block;
    border: none;
    width: 32px;
    height: 32px;
    line-height: 32px;
    right: 15px;
    margin-top: -16px;
    background-color: transparent;
    transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
}

// Navbar-top =========================================
.navbar-white.navbar-transparent .navbar-top {
    border-bottom-color: #e1e1e1;
}
.navbar-transparent .navbar-top {
    background-color: transparent;
}
.navbar-white .navbar-top {
    border-bottom-color: #eaeaea;
}
.navbar-top {
    font: 600 13px/38px 'Open Sans', Verdana;
    background-color: rgba(0,0,0, 0.04);
    border-bottom: 1px solid transparent;
}
.navbar-top-nav li {
    float: left;
    margin-right: 10px;
}
.navbar-white .navbar-top-nav li:not(:last-child):after, .navbar-white .navbar-top .social-icon:not(:last-child):after {
	content: '/';
    padding-left: 10px;
    color: #D9230F;
}
.navbar-top .social-icon {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 38px;
    padding-right: 0;
    margin-left: 0;
}
.social-icon {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    margin: 0 10px 20px;
    border-radius: 4px;
}
a.social-icon:hover {
    text-decoration: none;
}
.navbar-top .dropdowns-container.pull-right {
    padding-right: 15px;
    margin-right: 30px;
    border-right: 1px solid #e1e1e1;
    color: #D9230F;
}
.angle {
    margin: 0 0 0 3px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.angle:before {
	content: "\f107";
}
.dropdown-toggle:hover, .dropdown-toggle:focus {
	text-decoration: none;
}
.dropdown-menu {
    z-index: 890;
}
.dropdown-menu>li.sub-dropdown>a:hover {
	background-color: #ddd;
}
.ttb-dropdown .dropdown.open > .dropdown-menu {
    animation-name: topToBottom;
    -webkit-animation-name: topToBottom;
}
.animated-dropdown .dropdown > .dropdown-menu {
    animation-fill-mode: both;
    animation-delay: 0s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
}
.navbar-top .dropdown-menu {
    margin-top: 0;
    border: 1px solid transparent;
    border-radius: 0;
    min-width: 100%;
}
.navbar-top .dropdown-toggle {
    padding: 0;
}

// Navbar-header =========================================
.navbar-brand {
    position: relative;
    float: left;
    height: 80px;
    padding: 23px 15px 25px 15px;
    font: 700 32px/1 'Raleway', Verdana, sans-serif;
    border-right: 1px solid transparent;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
}
.text-uppercase {
    text-transform: uppercase;
}
.navbar-nav > li > a, .navbar-nav li a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font: 700 14px/20px 'Open Sans', Verdana, sans-serif;
    text-transform: uppercase;
}
.navbar-nav li li a {
    font-size: 14px;
    white-space: normal;
}
.navbar-white .navbar-btn.btn-icon {
    color: #505050;
    background-color: #f0f0f0;
}
.navbar-btn.navbar-right.last, .navbar-btn.pull-right.last {
    margin-right: 0;
}
.navbar-btn.btn-icon {
    width: 32px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    text-align: center;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.navbar-btn.navbar-right, .navbar-btn.pull-right {
    margin-left: 0;
    margin-right: 10px;
}
.navbar-toggle, .btn-toggle {
    position: relative;
    float: left;
    padding: 8px 9px;
    margin: 24px 15px 24px 15px;
    line-height: 0;
    background-image: none;
    border: none;
    border-radius: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
}
.navbar-white .navbar-toggle, .navbar-white .btn-toggle {
    background-color: #f0f0f0;
}
.navbar-toggle.pull-right {
    margin-left: -5px;
}
.navbar-white .navbar-toggle .icon-bar, .navbar-white .btn-toggle .icon-bar, .navbar-white .navbar-toggle .icon-bar:after, .navbar-white .navbar-toggle .icon-bar:before, .navbar-white .btn-toggle .icon-bar:after, .navbar-white .btn-toggle .icon-bar:before {
    background-color: #505050;
}
.navbar-toggle .icon-bar, .btn-toggle .icon-bar {
    display: block;
    width: 14px;
    height: 2px;
    margin: 7px 0;
    border-radius: 0;
    position: relative;
}
.navbar-toggle .icon-bar, .btn-toggle .icon-bar, .navbar-toggle .icon-bar:before, .btn-toggle .icon-bar:before, .navbar-toggle .icon-bar:after, .btn-toggle .icon-bar:after {
    display: inline-block;
    width: 14px;
    height: 2px;
    border-radius: 4px;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
}
.navbar-toggle .icon-bar:before, .navbar-toggle .icon-bar:after, .btn-toggle .icon-bar:before, .btn-toggle .icon-bar:after {
    content: '';
    position: absolute;
    left: 0;
}
.navbar-toggle .icon-bar:before, .btn-toggle .icon-bar:before {
    top: 4px;
}
.navbar-toggle .icon-bar:after, .btn-toggle .icon-bar:after {
    top: -4px;
}
.navbar-btn {
    height: 32px;
    line-height: 32px;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 10px;
}
.btn-circle {
    border-radius: 50%;
}
.megamenu-container {
    position: static !important;
}
.navbar-nav .angle {
    margin: 0 0 0 4px;
}
.open > .dropdown-toggle > .angle:before,
.side-menu .navbar-nav li.open > a > .angle:before,
.side-menu .navbar-nav ul .open > a > .angle:before {
	content:'\f106';
}
.navbar-nav ul .angle {
    float: right;
    margin: 3px 0 0;
}
.navbar-nav .sub-dropdown .dropdown-menu {
		right:auto;
		left:100%;
		top:0;
		border-top:none;
	}
  .navbar-nav .sub-dropdown .dropdown-menu.pull-right {
		left:auto;
		right:100%;
	}

/* RESPONSIVE TEMPLATE - START */
@media (max-width: 767px) {
	.navbar-top .dropdowns-container.pull-right {
	    padding-right: 0;
	    margin-right: 0;
	    border-right: none;
	}
  .navbar-header .navbar-btn.pull-right.last {
	    margin-right: 15px;
	}
}

@media (min-width: 768px) {
	#header-search-form {
    position: absolute;
    left: 0;
    right: 0;
    // top: 100%;
    z-index: 300;
    padding: 0 15px;
	}
	#header-search-form .form-control {
    padding: 20px 0 20px 42px;
    font-size: 18px;
	}
	#header-search-form button[type="submit"], #header-search-form input[type="submit"] {
    right: 30px;
    font-size: 14px;
    line-height: 36px;
    width: 36px;
    height: 36px;
    left: 0;
    margin-top: -18px;
	}
	.container > .navbar-collapse, .container-fluid > .navbar-collapse {
	    margin-right: -15px;
	    margin-left: -15px;
	}
  .container .navbar-brand {
      padding-left: 0;
      margin-left: -2px;
  }
  .navbar-white.navbar-transparent .navbar-nav > li > a:hover, .navbar-white.navbar-transparent .navbar-nav > li > a:focus, .navbar-white.navbar-transparent .navbar-nav > li.open > a, .navbar-white.navbar-transparent .navbar-nav > li.active > a, .navbar-inverse.navbar-transparent .navbar-nav > li > a:hover, .navbar-inverse.navbar-transparent .navbar-nav > li > a:focus, .navbar-inverse.navbar-transparent .navbar-nav > li.open > a, .navbar-inverse.navbar-transparent .navbar-nav > li.active > a {
	    color: #968783;
	}
  .navbar-white.navbar-transparent .navbar-nav > li > a:hover, .navbar-white.navbar-transparent .navbar-nav > li > a:focus, .navbar-white.navbar-transparent .navbar-nav > li.open > a, .navbar-white.navbar-transparent .navbar-nav > li.active > a {
	    background-color: transparent;
	}
  .navbar-nav {
	    float: none;
	}
  .navbar-nav > li:first-child > a {
	    padding-left: 0;
	}
	.navbar-nav > li > a {
	    padding: 15px;
	}
  .navbar-nav ul .angle:before, .navbar-nav ul .open > .dropdown-toggle > .angle:before {
	    content: '\f105';
	}
  .navbar-nav li > .dropdown-menu {
	    border: none;
	    border-top: 1px solid transparent;
	    margin: 0;
	    border-radius: 0;
	    min-width: 220px;
	    padding: 7px 0;
	}
  .container > .navbar-header, .container-fluid > .navbar-header {
	    margin-right: 0;
	}
	.navbar-header {
   		float: none;
	}
  .navbar-right {
	    float: right!important;
	    margin-right: -15px;
	}
  .navbar-btn {
	    height: 36px;
	    line-height: 36px;
	    margin-top: 27px;
	    margin-bottom: 27px;
	}
	.navbar-btn.btn-icon {
	    width: 36px;
	    font-size: 14px;
	}
  .navbar-default .navbar-nav .sub-dropdown .dropdown-menu {
		box-shadow:2px 4px 10px rgba(0,0,0, 0.2);
		-webkit-box-shadow:2px 4px 10px rgba(0,0,0, 0.2);
	}
  .navbar-default .navbar-nav .sub-dropdown .dropdown-menu.pull-right {
		box-shadow:-2px 4px 10px rgba(0,0,0, 0.2);
		-webkit-box-shadow:-2px 4px 10px rgba(0,0,0, 0.2);
	}
}

@media (min-width: 992px) {
	#header-search-form {
    padding: 0 30px;
	}
	.container > .navbar-header, .container-fluid > .navbar-header {
	    margin-right: 30px;
	}
  .navbar-brand {
	    height: 100px;
	    padding: 31px 30px 33px;
	    font-size: 42px;
	}
  .navbar-nav {
	    float: left;
	}
	.navbar-nav > li > a {
	    padding: 40px 15px;
	}
	.navbar-header {
	    float: left;
	    border-bottom: none;
	}
  .navbar-btn {
	    margin-top: 32px;
	    margin-bottom: 32px;
	}
  .navbar-top {
    	padding: 0 15px;
	}
  .navbar-top .dropdown-toggle {
	    padding: 0 15px !important;
	}
}
/* RESPONSIVE TEMPLATE - END */

// Buttons ====================================================================

.btn {
  font-family: @headings-font-family;
}

.btn-default,
.btn-default:hover {
  .btn-shadow(@btn-default-bg);
}

.btn-primary,
.btn-primary:hover {
  .btn-shadow(@btn-primary-bg);
}

.btn-success,
.btn-success:hover {
  .btn-shadow(@btn-success-bg);
}

.btn-info,
.btn-info:hover {
  .btn-shadow(@btn-info-bg);
}

.btn-warning,
.btn-warning:hover {
  .btn-shadow(@btn-warning-bg);
}

.btn-danger,
.btn-danger:hover {
  .btn-shadow(@btn-danger-bg);
}

// Typography =================================================================

body {
  font-weight: 200;
}

// Tables =====================================================================

th {
  color: @headings-color;
}

// Forms ======================================================================

legend {
  color: @headings-color;
}

label {
  font-weight: normal;
}

.has-warning {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: @brand-danger;
  }

  .form-control,
  .form-control:focus {
    border-color: @brand-danger;
  }
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: @brand-primary;
  }

  .form-control,
  .form-control:focus {
    border-color: @brand-primary;
  }
}

.has-success {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: @brand-success;
  }

  .form-control,
  .form-control:focus {
    border-color: @brand-success;
  }
}

// Navs =======================================================================

.pager {
  a {
    color: @headings-color;
  }

  a:hover,
  .active > a, {
    border-color: @brand-primary;
    color: #fff;
  }

  .disabled > a {
    border-color: @pager-border;
  }
}

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================

// Animation ==================================================================
/*Top to bottom  */
@-webkit-keyframes topToBottom {
    0% {
    	opacity:0;
    	-webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
    	opacity:1;
    	-webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes topToBottom {
    0% {
    	opacity:0;
    	-webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
    	opacity:1;
    	-webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
/* =============================================
------------- Scroll Top Button  --------------
==============================================*/
#scroll-top {
	position:fixed;
	bottom:0;
	right:25px;
	display:block;
	visibility:hidden;
	cursor:pointer;
	z-index:999;
	width:46px;
	height:46px;
	line-height:43px;
	font-size:24px;
	border-radius:50%;
	opacity:0;
	background: #968783;
	transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	text-align:center;
	color:#fff;
}

#scroll-top.smaller {
	width:38px;
	height:38px;
	line-height: 38px;
}

#scroll-top.no-radius {
	border-radius: 0;
}

#scroll-top:hover {
	color:#fff;
}

#scroll-top.gray {
	background-color: #e1e1e1;
	color:#505050;
}

#scroll-top.gray:hover {
	background-color: #c7c7c7;
	color:#3a3a3a;
}

#scroll-top.dark {
	background-color: #3a3a3a;
	color:#b7b7b7;
}

#scroll-top.dark:hover {
	background-color: #1a1a1a;
	color:#fafafa;
}

#scroll-top.white {
	background-color: #fff;
	color:#505050;
}

#scroll-top.white:hover {
	color:#fff;
}

#scroll-top.fixed {
	opacity:1;
	bottom:25px;
	visibility:visible;
}
